html{
    background: rgb(233, 180, 159);
    margin: 0;
    padding: 0;
  }
  body{
    background: green;
    height: 800px;
    width: 800px;
    border: 1px solid black;
    margin: 0 auto;
  }
  .box{
    height: 100px;
    width: 100px;
    float: left;
    font-size:60px;
    text-align:center;
    color: black;
  }
  .box:hover{
    background-color: lightsalmon;
    cursor: pointer;
  }
  .black{
    background: brown;
  }
  .white{
    color: white;
  }
